<div class="ued-lanlan">
    <!-- 公司介绍 -->
    <div class="lanlan-info">
        <div class="lanlan-intro">
            <p>Hangzhou Dongcheng Information Equipment Co., Ltd. is the one high-tech enterprise of working towards development and produce of digital CTP Plate Setter. We are specialized in manufacturing, developing, marketing and service in digital prepress. </p>
            <p>There are 150 employees in our factory, 50% of staffs are professional engineers. There are hundreds of customers both in china and abroad using our UV CTP Platemaker, Thermal CTP Plate making machine and so on.</p>
            <p>"DOIE" brand products have been well-received for perfect design, technology, quality and service. We will provide the first-class products and service on prepress industry.</p>
            <p>
                <em class="pink">History</em>: n 2001, Hangzhou Dongcheng Electronics Co., Ltd was set up; We launched the first film plotter with biggest scanning size in China market.
            <p>In 2008, Hangzhou Dongcheng Image Technology Co., Ltd was set up; DOIE-CTP passed certification by Hangzhou technical innovation project committee.</p>
            <p>In 2010, DOIE bring UV-CTS into market. UV Digital Flat Engraving System was obtained national technical innovation project award. As the first writer, DOIE made the national  standard of &lt; Computer To Screen Engraver &gt; .</p>
            <p>In 2011, DOIE Thermal CTP and UV-CTP attended the 4th All in Print China; In December 2011, Hangzhou Dongcheng Information Equipment Co., Ltd was set up.</p>
            <p>In 2012, DOIE-CTP series entirely upgrade, by upgrade laser control system, move control system, machining and precision of assembling; the platemaker could achieve stable, reliable printing quality.</p>
            <p>In 2015, the same year, Hangzhou Dongcheng Information Equipment Co., Ltd and Hangzhou Dongcheng Image Technology Co., Ltd resources integration, Hangzhou Dongcheng Information Equipment Co., Ltd. established;</p>
            <p>In 2017, our factory move to new address.</p>
        </div>

        <div class="lanlan-members">
        </div>

    </div>
    <!-- END 公司介绍 -->

    <!-- 公司里程碑 -->
    <div class="lanlan-posts">
        <%= render :partial => "common/news", :collection => @news %>
    </div>
    <!-- END 公司里程碑 -->
</div>

